*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: #900C3F;    
}
/* For HP  720 x 425*/
section{
    height: 350px;
    width: 650px;
    background-color: #F94C10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    position: relative;
    padding: 10px;

}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 85%;
}
.credit{
    position: relative;
    height: 2rem;
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #fff;
    padding:0 0 0 20px;
    border-radius: 15px;
    background-color: #900C3F;
    border: 2px solid #F8DE22;
}
.credit button{
    position: absolute;
    right: -10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    transition:.2s ease-in ;

}
.credit button:active{
    transform: scale(.8);
}

.top .settings{
    height: 5rem;
    width: 15rem;
    display: flex;
    justify-content: end;
    gap: 1rem;
    align-items: center;
}
.top img{
    height: 40px;
    width: 40px;
    padding: 5px;
}

.top img:nth-child(1){
    transform: translateX(80px);
}
.top img:nth-child(2){
    transform: translateX(40px);
}
.top img:not(:nth-child(3)){
    height: 20px;
    width: 20px;
}
.top img:nth-child(3){
    z-index: 1;
    background: #900C3F;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}


.main-container{
    height: 120px;
    width: 85%;
    background-color: #C70039;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.main-container > .reel{
    height: 120;
    width: 110px;
    background-repeat: repeat-y;
    background: url(/icon/items.png);
    background-size: 100px auto;
    background-position: center top;
    border: 2px solid #F8DE22;
    border-top:none ;
    border-bottom:none;
}

.reel:nth-child(1){
    border-left: none;
}
.reel:nth-child(5){
    border-right: none;
}




.spin-container{
    padding: 0 50px;
    background-color: #F94C10;
    height: 100px;
    width: 95%;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spin-container .bet{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.spin-container button{
    border: none;
}
.bet span{
    color: white;
}
.spin-container .bet button{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    font-size: 20px;
}

.bet button{
    box-shadow: 4px 4px #F8DE22;

}
.bet > button:active{
    transform: translate(4px,4px);
    box-shadow: none;
}
.button-active{
    height: 35px;
    width: 100px;
    box-shadow: 5px 5px #F8DE22;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
}
.button-disabled{
    height: 35px;
    width: 100px;
    transform: translate(5px,5px);
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: none;
}
.button-active:active{
    transform: translate(10px,10px);
    box-shadow: none;
}
